<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Loja Proj Soft</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    </head>
    <body>
        <div class="container">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success" style="text-align: center; margin-top: 20px;">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <!--Menu-->
            <nav class="navbar navbar1 navbar-expand-md fixed-top">
                <div class="container-fluid container-menu" style="position: relative;">
                    <!-- Brand -->
                    <a class="navbar-brand navbar-brand-dashboard logo" href="">
                        <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo='open-book.png') }}" style="height: 35px; width: auto; margin: 0; padding: 0;">
                        
                    <!-- Brand -->
                    </a>  
                    
                    {% if session['usuario_logado'] != None %}
                    <h4 class="bem-vindo centraliza">E-Classroom - Área do Professor</h4>
                    {% endif %}

                    {% if session['usuario_logado'] == None %}
                    <h4 class="bem-vindo centraliza">E-Classroom</h4>
                    {% endif %}

                    {% if session['usuario_logado'] != None %}
                    <a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
   
                </div>
            </nav>
            <br><br><br>
            <!--Menu-->

            {% block conteudo %}{% endblock %}


            <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
        </div>
    </body>
</html>